

.productDetails{
    height: auto;
    max-width: 100vmax;
 display: flex;
 
}

.detailsblock-1,.detailsblock-2{
    width: 100%;
    height: auto;
    border: 1px solid white;
}

.detailsblock-2-1 {
    color:rgba(12, 12, 12, 0.598) !important;
}

.detailsblock-2>div{
    display: flex;
    flex-direction: column;
    justify-content: ;
    align-items: flex-start;
    padding: 1vmax;
    justify-content: space-evenly;
}

.img-box{
    text-align: center;
    padding: 50px;
    height: auto;
}

.img-box img{
    height: 100%;
    width: 100%;
}

.greenColor{
    color: green;
}


.redColor{
    color: red;
}

.detailsblock-2-3{
    display: flex ;
    flex-direction: row !important;
    justify-content: flex-start !important


}

.detailsblock-2-3>:first-child button,input{
    height: 30px;
    font-size: 20px;
    width: 40px;
    border: none;
    background: rgb(154, 154, 183);
    margin: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.detailsblock-2-3>:first-child input{
    background: rgb(227, 216, 216);
}

.detailsblock-2-3>:nth-child(2)> button  {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    width: fit-content;
    flex-direction: row;
    background: rgb(154, 154, 183);
    border-radius: 5px;
    border: none;


}

.Review-heading{
text-align: center;
}


@media only screen and (max-width: 998px) {
    .productDetails{
        flex-direction: column;
    }
    .img-box{
        text-align: center;
        padding: 10px;
        height: auto;
    }
    
    .img-box img{
        height: 100%;
        width: 100%;
    }
}